@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
}

.mobile-image {
  display: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  border-radius: 10px;
  width: 600px;
  height: 450px;
  display: flex;
}

.product-image img {
  height: 450px;
  width: 300px;
  border-radius: 10px 0 0 10px;
}

.product-text {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-category {
  font-size: 12px;
  font-family: 'Montserrat';
  letter-spacing: 5px;
  line-height: 15px;
  font-weight: 500;
  font-style: normal;
  color: #6C7289;
}

.product-name {
  font-family: 'Fraunces';
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;

  color: #1C232B;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-summary {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #6C7289;
}

.product-price {
  display: flex;
  align-items: center;
  gap: 20px;
}

.current-price {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700px;
  font-size: 32px;
  line-height: 32px;
  color: #3D8168;
}

.actual-price {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-decoration: line-through;
  color: #6C7289;
}

.cta-button {
  background: #3D8168;
  height: 48px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 20px;
}

.cta-text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #ffffff;
}

.cta-button:hover {
  background: #1A4032;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .card {
    width: 343px;
    height: 611px;
    display: flex;
    flex-direction: column;
  }

  .mobile-image {
    display: block;
  }
  .desktop-image {
    display: none;
  }

  .product-image img {
    width: 343px;
    height: 240px;
    border-radius: 10px 10px 0 0px;
  }

  .product-text {
    flex-grow: 1;
  }
}